.container > div {
    text-align: center;
    font-size: 2em;
    color: #ffeead;
    flex: 1;
}

html, body {
    background-color: #ffeead;
    margin: 10px;
}

.container > div:nth-child(1) {
    background-color: #96ceb4;
}

.container > div:nth-child(2) {
    background-color: #ff6f69;
}

.container > div:nth-child(3) {
    background-color: #88d8b0;
}

.news > .article:nth-child(odd) {
    background-color: #88d8b0;
}

.article {
    padding: 5px;
    background-color: #96ceb4;
}