.container {
    display: flex;
    border: 5px solid #ffcc5c;
    margin-bottom: 20px;
    flex-direction: row;
}

#news-container {
    flex-direction: column;
}

.news {
    display: flex;
    flex-flow: row wrap;
}

.article {
    font-size: 10px;
    flex: 1 300px;
}

.date {
    text-align: center;
    flex: 1;
    border-bottom: 5px solid #ffcc5c;;
}

.container > .date {
    flex-direction: column;
}